.notFound{
    background-image: url(../../img/tim-umphreys-6x1zA_0H9LA-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 0;
    z-index: -10;
}

.title404{
    color: white;
    position: absolute;
    z-index: 0;
}